/* factory reset */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    list-style: none;
}

body{
    list-style: none;
}

/* heading style  */

header{
    padding: 1rem;
    box-shadow: 0px 2px 10px rgba(128, 128, 128, 0.178);
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.one{
    flex: 0.8;
}


/* Dark mode  */

body.active{
background-color: #1f2d36;
color: white;
}

.dark-mode{
    cursor: pointer;
}


.dropdown.active-link{
    background-color: rgb(28, 46, 46);
}

.card.active-link{
    background-color: white;
}


/* main body input */

.search-sector{
    padding: 2rem;

}
.search-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

input{
    width: 25rem;
    min-height: 3rem;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.178);
    
}

input:placeholder-shown{
    padding: 1rem;
    font-family: poppins;
}


.two{
    flex: 0.8;
}

/* main section dropdown */

.selection ul{
    list-style: none;
}

.selection ul li div{
    width: 15rem;
    min-height: 3rem;
    border-radius: 6px;
     box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.178);
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.selection ul li{
    display: inline-block;
    position: relative;
    
}

.selection ul li button{
    display: block;
    border: none;
    padding: 5px 0px 5px 25px;
    color: black;
    text-decoration: none;
    text-align: start;
    font-weight: 900px;
    font-size: medium;
}


.selection ul li ul.dropdown li{
    display: block;
}

.selection ul li ul.dropdown{
    width: 100%;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background: white;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.178);
    position: absolute;
    z-index: 999;
    display: none;
}


.selection ul li button:hover{
 box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.178);
 width: 20rem;
 cursor: pointer;
}

.selection ul li button{
border: none;
background-color: #fff;
}

.selection ul li:hover ul.dropdown{
    display: block;
}

/* main section content */
.gird-container{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: start;
    padding: 0 6.6rem ;
    gap: 7rem;
    
}

.card{
    border-radius: 5px;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.178);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover{
   cursor: pointer;
   transform: scale(105%);
   -webkit-transform: scale(105%);
   -moz-transform: scale(105%);
   -ms-transform: scale(105%);
   -o-transform: scale(105%);
}

img{
    width: 16.5rem;
    height: 14.5rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    
}

.card ul{
    padding: 1rem;
    margin-bottom: 2rem;
}

.card h3{
    font-size: clamp();
    padding-top: 1.5rem;
    padding-left: 1rem;
}




@media screen and (max-width: 44rem) {

    /* search section */
    .search-container{
    display: flex;
    justify-content: start;
    
}

/* dropdown  */

.selection ul li div{
  margin-top: 3rem;
}


/* main content  */

.gird-container{
    display: grid;
    grid-template-columns: 1fr;
    place-items: start;
    padding: 0 2rem;
}

img{
    width: 25rem;
   
}

}

@media screen and (max-width: 360px){
h1{
    font-size: 1rem;
}

input{
    width: 18rem;
    min-height: 4rem;
    border-radius: 6px;
    border: none;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.178);
    
}


.selection ul li div{
    min-height: 4rem;
}

img{
    width: 18rem;
   
}
}


.hide{
    display: none;
}

.close{
    display: none;
}

